timeout=10
insmod all_video
insmod gfxterm

GRUB_DISTRIBUTOR="AxonOS boot menu"
terminal_output gfxterm
set gfxmode=1024x768x32,800x600x32,auto
set gfxpayload=keep
loadfont /boot/grub/fonts/unicode.pf2
insmod tga
background_image /boot/grub/axonboot.tga

menuentry "axonOS 4.0.1 Stable" {
    multiboot2 /boot/axonos.elf
    echo "Loading compressed SquashFS initfs, please wait..."
    module2 /boot/initfs.sfs initfs
}