timeout=10
insmod all_video
insmod gfxterm

GRUB_DISTRIBUTOR="AxonOS boot menu"
terminal_output gfxterm
grub_gfxmode 800x600x8
loadfont /boot/grub/fonts/unicode.pf2
insmod tga
background_image /boot/grub/axonboot.tga

menuentry "axonOS 4.0.1 Stable" {
    multiboot2 /boot/axonos.elf
    echo "Loading initfs archive, please wait..."
    module2 /boot/initfs.cpio initfs
}