#
# AxonOS kernel configuration
#
#   =y   built-in
#   =m   module (linked in as built-in for now)
#   =n   disabled
#   # FOO is not set
#

# AXON_PRODUCTION is not set
# DEVEL_DEBUG is not set
# AXON_FORK_DEBUG is not set
# NET_TCP_TRACE is not set
# AXON_WGET_DNS_TRACE is not set
# KBD_DEBUG is not set
# QEMU_LOG is not set
# KERNEL_LOG_TIME is not set
# KERNEL_DEBUG_NET is not set

FAT32_SUPPORT=y
EXT2_SUPPORT=y
